<footer class="row between-sm">
  <div class='footer-buttons-panel col-sm-6 start-sm'>
    <ng-content></ng-content>
    <button mat-raised-button color="primary" disabled>Save Changes</button>
    <button mat-raised-button class="green">Close</button>
  </div>
  <div class="footer-icons-panel col-sm-6 end-sm">
    <span >Last saved at: 2019-10-08 14:52:01 by <b>Elena Raluca Marin</b></span>
    <button mat-mini-fab class="green">
      <mat-icon aria-hidden="false" aria-label="Email">email</mat-icon>
    </button>
    <button mat-mini-fab class="red">
      <mat-icon aria-hidden="false" aria-label="History">history</mat-icon>
    </button>
    <button mat-mini-fab class="green">
      <mat-icon aria-hidden="false" aria-label="Comment">comment</mat-icon>
    </button>
  </div>
</footer>
