.nav-bar {
  padding: 0 20px 0 20px;
  margin-bottom: 0;
}

:host(.tasks-edit-tabs) {
  padding: 0;
}

.tab-content {
  margin-top: 10px;
  height: calc(100vh - 170px);
}

.file-uploader {
  height: 164px;
  border: blue 1px solid;
  width: 100%;
}

.tasks-edit-tabs {
  font-size: 13px!important;
}
